<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Levelupper3.category1"
            name="幻想御手(レベルアッパー)">
      </category>
      <view
            category="Levelupper3.category1"
            class="levelupper3.View"
            id="Levelupper3.view"
            name="幻想御手(レベルアッパー)"
            restorable="true">
      </view>
   </extension>

</plugin>
